<ion-header>
  <ion-toolbar>
    <ion-title>Barbería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="barber-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a nuestra Barbería</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" color="primary" (click)="goToCalendar()">
          Agendar Hora
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Agregar más contenido de barbería si es necesario -->
  </div>
</ion-content>
