/* Resaltar el día seleccionado en el calendario */
.selected-day {
    background-color: #007bff !important; /* Color de fondo personalizado */
    color: white !important; /* Cambiar color del texto */
    font-weight: bold; /* Resaltar el texto */
    border-radius: 50%; /* Hacerlo redondo */
  }
  
  /* Esto asegura que las celdas de los días tengan un cursor tipo pointer */
  .fc-daygrid-day {
    cursor: pointer;
  }
  
  .fc-daygrid-day:hover {
    background-color: #e0f0ff;  /* Un color más claro al pasar el mouse */
  }
  /* Estilos para mejorar la apariencia de los eventos */
.fc-event {
    font-size: 14px; /* Ajustar el tamaño del texto */
    font-weight: bold; /* Asegurar que el texto sea legible */
    color: #ffffff; /* Color de texto */
  }
  
  .fc-event-time {
    font-size: 12px; /* Ajustar el tamaño de la hora */
    font-weight: normal; /* No tan grueso como el título */
  }
  
  .fc-event-title {
    font-size: 16px; /* Ajustar el tamaño del título */
    font-weight: bold; /* Asegurar que el título esté destacado */
  }
  